.App {
  border: 1px solid #ECEDEF;
  padding: 10px;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.loadingIcon{
  margin: 0 auto;
  border: .8rem solid #f3f3f3; /* Light grey */
  border-top: .8rem solid #3498db; /* Blue */
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.info_box{
  border: 1px solid #ECEDEF;
  border-radius: 5px;
  padding: 1rem 2.5rem;
  margin: 1rem 0;
}

@media(max-width: 1200px){
  .forecast{
    justify-content: space-around;
  }
}
